@import "variables";

/* ------------------------------------ *\
  #BOOTSTRAP
\* ------------------------------------ */

.row__accordion {
  padding: 15px 0;
}

.btn {
  margin: 10px;
}

.card {
  background-color: transparent !important;
}

img.espais {
  width: 100%;
  padding-top: 15px;
}
