@import "variables";

/* ------------------------------------ *\
  #FLEX
\* ------------------------------------ */

.grups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
}

.grup {
  width: 30%;
  padding: 5px 5px 25px 5px;
  margin: 5px;
}

.grup__pic {
  img {
    width: 100%;
  }
}

.grup__content {
  .data {
    font-size: 1.1rem;
  }
  
  p {
    font-size: 0.8rem;
    padding: 5px 5px 5px 5px;
  }
}
	  

/* ------------------------------------ *\
  #GLOBALS
\* ------------------------------------ */

.data {
  color: $color-second;
}

/* ------------------------------------ *\
  #MEDIA_QUERIES_MAX_768
\* ------------------------------------ */

@media (max-width: $breakpoint-tablet) {
  .grup {
    width: 45%;
    padding: 5px;
    margin: 5px;
  }
}

/* ------------------------------------ *\
  #MEDIA_QUERIES_MAX_480
\* ------------------------------------ */

@media (max-width: $breakpoint-smartphone) {
  .grup {
    width: 100%;
    padding: 5px;
    margin: 5px;
  }
}
