@import "variables";

body {
  max-width: 960px;
  margin: auto;
  padding: 30px;
  font-family: $font-family-sans-serif;
  background-color: $color-bg;
  color: $color-corporate;
}

header {

  padding-bottom: 30px;

  h1 {
    margin: 0;
  }
}

.section__subtitle {
  clear: left;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.section__content {
  background-color: $color-clear;
  min-height: 250px;
  padding: 10px;
  
  h2 {
    margin-bottom: 0;
  }
  
  p {
    margin: 0;
  }
  
  .content__block {
    display: inline-block;
    padding: 10px 10px 20px 10px;

    .content--lighter {
      font-weight: lighter;
    }
  }
  
  .block__item {
    margin: 0;
    padding: 0 0 10px 0;
  }
  
  .content--padding-5 {
    margin: 0;
    padding: 5px 0;
  }
  
  .content--padding-20 {
    margin: 0;
    padding: 20px;
  }
  
  .content--italic {
    font-style: italic;
  }
  
  .block__left {
    float: left;
    width: 45%;
  }
  
  .block__right {
    float: none;
    width: 45%;
  }
  
  .block__item__label--right {
    font-weight: bold;
    display: inline-block;
    float: right;
  }
  
  meter {
    width: 100%;
    height: 10px;
    vertical-align: middle;
  }
  
  meter::-webkit-meter-optimum-value {
    background: $color-masterbrand;
  }
}

/* Globals */

.content--font-bolder {
  font-weight: bold;
}

.content--color-masterbrand {
  color: $color-masterbrand;
}

.block--underline {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $color-masterbrand;
}

.block--black {
  border-bottom: 1px solid $color-corporate;
}

.block--red {
  border-bottom: 1px solid $color-masterbrand;
}
