@import "variables";

/* ------------------------------------ *\
  #GRID
\* ------------------------------------ */

main {
  max-width: 1280px;
  margin: auto;
  padding: 50px;
  
  .grid-container {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-gap: 10px;
  }

  .grid-container > div {
    text-align: center;
    padding: 0 5px;
    font-size: 2rem;
  }
  
  .item1 {
    grid-area: 1 / 1 / span 1 / span 1;
  }
  
  .item2 {
    grid-area: 1 / 2 / span 1 / span 1;
  }

  .item4 {
    grid-area: 1 / 4 / span 1 / span 1;
  }
 
  .item5 {
    grid-area: 1 / 5 / span 1 / span 1;
  }
  
  .item7 {
    grid-area: 2 / 1 / span 1 / span 4;
  }
  
  .item11 {
    grid-area: 2 / 5 / span 1 / span 1;
  }
    
  .item12 {
    grid-area: 2 / 6 / span 1 / span 1;
  }
  
  .item13 {
    grid-area: 3 / 1 / span 1 / span 2;
  }
  
  .item15 {
    grid-area: 3 / 3 / span 1 / span 1;
  }
  
  .item16 {
    grid-area: 3 / 4 / span 1 / span 1;
  }
  
  .item17 {
    grid-area: 3 / 5 / span 1 / span 1;
  }
  
  .item18 {
    grid-area: 3 / 6 / span 1 / span 1;
  }
}

/* ------------------------------------ *\
  #GLOBALS
\* ------------------------------------ */

img {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 10px;
  }
}

/* ------------------------------------ *\
  #LINKS
\* ------------------------------------ */

a:hover {
  opacity: 0.5;
}

/* ------------------------------------ *\
  #MEDIA_QUERIES_MAX_480
\* ------------------------------------ */

@media (max-width: $breakpoint-smartphone) {
  main {
    padding: 20px;
  
    .grid-container {
      display: grid;
      grid-template-columns: 50% 40%;
      grid-gap: 10px;
    }

    .grid-container > div {
      text-align: center;
      padding: 0 5px;
      font-size: 2rem;
    }
  
    .item1 {
      grid-area: 2 / 1 / span 1 / span 1;
    }
  
    .item2 {
      grid-area: 2 / 2 / span 1 / span 1;
    }

    .item4 {
      grid-area: 3 / 1 / span 1 / span 1;
    }
 
    .item5 {
      grid-area: 3 / 2 / span 1 / span 1;
    }
  
    .item7 {
      grid-area: 1 / 1 / span 1 / span 2;
    }
  
    .item11 {
      grid-area: 4 / 1 / span 1 / span 1;
    }
    
    .item12 {
      grid-area: 4 / 2 / span 1 / span 1;
    }
  
    .item15 {
      grid-area: 5 / 1 / span 1 / span 1;
    }
  
    .item16 {
      grid-area: 5 / 2 / span 1 / span 1;
    }
  
    .item18 {
      grid-area: 6 / 1 / span 1 / span 1;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 10px 15px 0 0;
    }
  }
}
