/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://en.parceljs.org/module_resolution.html
 * see commented examples below
 */
 
@import "~bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/css/all.css";

/**
 * Import layouts
 * It's a best practice to use a partial for each page
 */

@import "layouts/home";
@import "layouts/grups";

/**
 * Common CSS
 */
 
/* ------------------------------------ *\
  #BODY
\* ------------------------------------ */

body {
  margin: auto;
  font-family: $font-family-montserrat;
  font-size: 16px;
  color: $color-white;
  background-image: url("./../images/bg-vida2021.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

/* ------------------------------------ *\
  #HEADER
\* ------------------------------------ */

header {
  margin: 0;
  padding: 30px;
  width: 100%;
  background-color: #fff;
  font-size: 1.5rem;
  color: $color-black;
  
  .header__left {
    display: inline;
    float: left;
  }
  
  .header__right {
    display: inline;
    float: none;
    text-align: right;
  }
}

/* ------------------------------------ *\
  #FOOTER
\* ------------------------------------ */

footer {
  margin: 0;
  padding: 30px;
  background-color: #fff;
  color: $color-black;
  
  .footer__top {
    padding: 30px;
    border-bottom: 1px solid $color-black;
  }
  
  .footer__bottom {
    padding: 30px 30px 0 30px;
  }
  
  .col {
    padding: 0 30px;
  }
  
  .logo {
    width: 25%;
  }
}

/* ------------------------------------ *\
  #LINKS
\* ------------------------------------ */

a:link {
  color: $color-black;
  text-decoration: none;
}

a:visited {
  color: $color-black;
}

/* ------------------------------------ *\
  #GLOBALS
\* ------------------------------------ */

h1 {
  font-size: 5.5rem;
  padding: 0;
  margin: 0;
  text-align: left;
}

h2 {
  font-size: 1rem;
  padding: 5px;
  margin: 0;
  text-align: left;
}

p {
  margin: 0;
  padding-bottom: 0.5rem;
}

/* ------------------------------------ *\
  #MEDIA_QUERIES_MAX_768
\* ------------------------------------ */

@media (max-width: $breakpoint-tablet) {
  body {
    width: 100%;
    margin: auto;
    font-family: $font-family-sans-serif;
    color: #fff;
  }
}

/* ------------------------------------ *\
  #MEDIA_QUERIES_MAX_480
\* ------------------------------------ */

@media (max-width: $breakpoint-smartphone) {
  body {
    width: 100%;
    margin: auto;
    font-family: $font-family-sans-serif;
    color: #fff;
  }
  
  header {
    font-size: 0.9rem;
	
    img.logotip {
      display: block;
      margin: auto;
    }
  }
	
  .float-right {
    float: left !important;
  }
  
  h1 {
    font-size: 2.5rem;
    padding: 10px 0;
    margin: 0;
    text-align: center;
  }
  
  footer {
    font-size: 0.75rem;
	
    .col {
      padding: 0 0 30px 0;
	  text-align: left !important;
    }
  }
}
